.GetStartedPage {
	height: 100%;
	background-color: #E0E0E0;

	section {
		border-bottom: 3px solid gray;
		scroll-margin-top: 100px;

		h1 {
			margin: 40px 0px;
		}
	}

	.intro-section {
		height: 200px;
		display: grid;
		grid-template-columns: 1fr 1fr;

		h1 {
			margin: auto 0px;
		}

		.autocompletes-container {
			display: flex;
			// margin: auto;
			justify-content: flex-end;
			align-items: center;

			.MuiAutocomplete-root {
				margin-left: 10px !important;

				label {
					color: grey !important;
				}
			}
		}
	}

	.most-popular {
		border-bottom: 0;

		.display-most-popular {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;

			div {
				overflow: hidden;
				height: 225px;
				width: 300px;
				// background-color: red;
				margin-bottom: 40px;
				display: flex;
				flex-direction: column;

				&:hover {
					overflow: hidden;
					cursor: pointer;

					img {
						scale: 1.05;
					}
				}

				img {
					width: 100%;
					height: 80%;
					box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
					transition: 200ms all;
				}

				.spans {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					height: fit-content;
					margin: 8px 0px;
				}

				hr {
					width: 100%;
					margin: 0;
					border: 1px solid gray;
				}
			}
		}
	}

	.spacer {
		height: 45vh;
		margin: 0px -100px;
		overflow: hidden;
		background-image: url('../../../assets/images/marbel.png');
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-bottom: 0;
	}

	.result-sections {
		width: 100%;
		display: grid;
		grid-template-columns: 50% 50%;
		padding: 40px 0px;

		.title {
			grid-column: span 2;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 40px 0;

			h1 {
				text-align: center;
				margin: 0;
			}

			h2 {
				margin: 10px 0px 0px;
				font-size: 1.2rem;
			}
		}

		.table-container {
			grid-column: span 2;
			margin: auto;
			margin-bottom: 40px;
			width: 100%;
		}

		.ReactCollapse--collapse,
		.ReactCollapse--content {
			grid-column: span 2 !important;
		}

		.ReactCollapse--content {
			width: 50%;
			display: flex;
			justify-content: space-evenly;
		}

		.pie-container {
			padding: 0px 150px;
		}
	}
}