.GetStarted {
    animation: pulse-animation 2s infinite;
    align-items: center;
    background-color: #0A66C2;
    background-color: #231F20;
    border: 2px solid #231F20;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    text-decoration: none;
    margin: 0 auto;

    &:hover,
    &:focus {
        background-color: #e0e0e0;
        color: #434342;
        border: 2px solid #434342;
    }

    &:active {
        background: #231F20;
        color: rgb(255, 255, 255, .7);
    }
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px black;
    }

    100% {
        box-shadow: 0 0 0 10px #e0e0e0;
    }
}