.ComparisonTable {
    direction: rtl;
    width: 100%;
    border: 1px solid grey;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    th,
    td {
        text-align: center;
        font-size: 1.2rem;
        padding: 4px;


        &.image-container-cell {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 32px;
            }
        }
    }

    tbody {
        th{
            background-color: #E0E0E0;
            color: #231F20;
            width: 200px;
        }
        tr {

            &:nth-of-type(5),
            &:nth-of-type(11) {
                background-color: #FF7F50;
            }

            &:nth-of-type(6),
            &:nth-of-type(12) {
                background-color: #FFD700;
            }

            &:nth-of-type(7),
            &:nth-of-type(13) {
                background-color: #483D8B;
                color: #E0E0E0;
            }

            &:nth-of-type(8),
            &:nth-of-type(14) {
                background-color: #20B2AA;
            }

            &:nth-of-type(9),
            &:nth-of-type(15) {
                background-color: #FFA07A;
            }

            &:nth-of-type(10),
            &:nth-of-type(16) {
                background-color: #5F9EA0;
            }

            &:nth-last-of-type(1) {
                th{
                    &:nth-of-type(1) {
                        border-bottom-right-radius: 12px;
                    }
                }
                td {
                    &:nth-last-child(1) {
                        border-bottom-left-radius: 12px;
                    }
                }
            }
        }
    }
}