.Table {
    direction: rtl;
    width: 100%;
    border: 1px solid grey;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    th,
    td {
        text-align: center;
        font-size: 1.2rem;
        padding: 4px;


        &.image-container-cell {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 32px;
            }
        }
    }

}