html * {
    box-sizing: border-box;
}

html,
body,
#root {
    min-height: 100vh;
    margin: 0;
}

:root {
    font-size: 16px;
    color: #231F20;

    --chart-color1: '#FF7F50';
    --chart-color2: '#FFD700';
    --chart-color3: '#483D8B';
    --chart-color4: '#20B2AA';
    --chart-color5: '#FFA07A';
    --chart-color6: '#5F9EA0';
}